@import "bottomNav.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(66, 66, 66);
  margin: 0;
  padding: 0;
}

.upperCase {
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
}

.orange {
  color: #ff9900;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* Section 1 */

section.one {
  height: 43rem;
  background-image: url("../mainPictures/iloiloScenery.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

section.one .content {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section.one .content .top-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 20px;
}

section.one .content .underline {
  margin: 1rem 0 1rem 0;
  height: 3px;
  background-color: #ff9900;
}

/* Section 2 */

section.two {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section.two .background {
  height: 20rem;
  background-color: #1c2b3b;
}

section.two .background .content {
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}

section.two .background .content .right-text {
  margin-top: 8rem;
  margin-right: 2rem;
  width: 50%;
}

section.two .background .content h3 {
  font-size: 2rem;
  font-weight: 100;
}

section.two .background .content h2 {
  font-size: 5rem;
}

section.two .background .content img {
  border: 10px solid white;
  border-left: none;
}

section.two img {
  width: 45%;
  position: absolute;
  top: 5rem;
}

/* Section 3 */

section.three {
  position: relative;
  z-index: 1;
  color: white;
}

section.three .content {
  margin: 5rem 0;
  margin-left: 40%;
}

section.three .content img {
  width: 55%;
  border: 10px solid white;
  z-index: 5;
}

section.three .content div {
  width: 90%;
  letter-spacing: 4px;
}

section.three .content div h3,
section.three .content div p {
  margin: 2rem 0;
  line-height: 1.5rem;
}

section.three .content div p {
  font-size: 1.2rem;
}

section.three .content div button {
  border: 1px solid white;
  letter-spacing: 4px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

section.three .content div button:hover {
  background-color: white;
  color: black;
  transition: 0.2s ease;
}

/* Section 4 */

section.four {
  background-color: #1c2b3b;
  padding: 4rem;
}

section.four .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section.four .content div {
  width: 50%;
}

section.four .content .text {
  text-align: center;
  margin-top: 20%;
  font-size: 3.5rem;
  margin-right: 1rem;
}

section.four .content .text i {
  font-size: 7rem;
  color: white;
}

section.four .content img {
  width: 90%;
  margin: 3rem 0;
  border: 10px solid white;
}

section.four .content .images {
  position: relative;
  margin-left: 1rem;
}

section.four .content .images .more {
  background-color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 32%;
}

section.four .content .images .dinagyang {
  top: 32%;
}

section.four .content .images .paraw {
  top: 87%;
}

section.four .content .images .more button,
section.four .content .images .more p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 6px;
}

section.four .content .images .more p {
  font-weight: bolder;
  font-size: 1.5rem;
}

section.four .content .images .more button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.2s ease;
}

/* Section 5 */

section.five {
  height: 25rem;
  background-image: url("https://scontent.fceb2-2.fna.fbcdn.net/v/t1.0-9/128912819_3790894637608724_1594600478095204182_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=0debeb&_nc_ohc=8Ak6hn7Vd7sAX_xXGfe&_nc_ht=scontent.fceb2-2.fna&oh=f76e9b8c2c5d2524cd63d6f335d76176&oe=606A5690");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

section.five .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  letter-spacing: 4px;
}

section.five .content button {
  color: white;
  border: 1px solid white;
  margin: 2rem 0;
}

section.five .content button:hover {
  background-color: rgb(59, 59, 59);
  transition: 0.2s ease;
}

/* Section last */

section.last {
  padding: 5rem 0 1rem 0;
  background-color: #1c2b3b;
}

section.last .content .underline {
  height: 3px;
  background-color: white;
  width: 55%;
  margin: 0 auto 3rem auto;
}

section.last .content .top-text {
  text-align: center;
}

section.last .content .top-text h2 {
  font-size: 3rem;
  color: white;
}

section.last .content .images-row {
  text-align: center;
  margin-top: 3rem;
}

section.last .content .images-row img {
  width: 200px;
  height: 150px;
  margin: 1rem;
}

section.last .content .bottom-text {
  display: flex;
  margin: 4rem auto 2rem auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section.last .content .bottom-text img {
  width: 100%;
}

section.last .content .bottom-text div {
  width: 20%;
}

section.last .content .bottom-text .right-text,
section.last .content .bottom-text .left-text {
  margin: 0rem 5rem;
  color: white;
}

section.last .content .bottom-text .right-text a {
  color: white;
  text-decoration: none;
}

section.last .content .bottom-text .right-text a:hover {
  color: rgb(192, 192, 192);
}

section.last .content .bottom-text .left-text i {
  font-size: 2rem;
}

section.last .content .bottom-text p {
  margin: 0.5rem 0;
  letter-spacing: 2px;
  /* width: 200px; */
}

.social-media-logo {
  background-color: white;
  padding: 0.2rem;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-instagram-square {
  color: #c54141;
}

.fa-twitter-square {
  color: #00acee;
}

@media only screen and (max-width: 1000px) {
  /* Section 2 */

  section.two .background {
    height: 18rem;
    background-color: #1c2b3b;
  }

  section.two .background .content {
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }

  section.two .background .content .right-text {
    margin-top: 6rem;
    margin-right: 2rem;
    width: 50%;
  }

  section.two .background .content h3 {
    font-size: 1.7rem;
  }

  section.two .background .content h2 {
    font-size: 4.7rem;
  }

  section.two .background .content img {
    border: 7px solid white;
    border-left: none;
  }

  section.two img {
    width: 45%;
    position: absolute;
    top: 3rem;
  }

  /* Section 3 */

  section.three .content {
    margin: 1rem 0 3rem 0;
    margin-left: 40%;
  }

  section.three .content img {
    border: 8px solid white;
  }

  section.three .content div {
    width: 90%;
    letter-spacing: 3.5px;
  }

  section.three .content div h3 {
    font-size: 36px;
  }

  section.three .content div h3,
  section.three .content div p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }

  section.three .content div p {
    font-size: 1.1rem;
  }

  section.three .content div button {
    letter-spacing: 3.5px;
    font-size: 0.9rem;
  }

  /* Section 4 */

  section.four {
    background-color: #1c2b3b;
    padding: 1rem 0 2rem 0;
  }

  section.four .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  section.four .content div {
    width: 50%;
  }

  section.four .content .text {
    text-align: center;
    margin-top: 20%;
    font-size: 3.5rem;
  }

  section.four .content .text i {
    font-size: 7rem;
    color: white;
  }

  section.four .content img {
    width: 90%;
    margin: 3rem 0;
    border: 10px solid white;
  }

  section.four .content .images {
    position: relative;
  }

  section.four .content .images .more {
    background-color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 32%;
  }

  section.four .content .images .dinagyang {
    top: 32%;
  }

  section.four .content .images .paraw {
    top: 82%;
  }

  section.four .content .images .more button,
  section.four .content .images .more p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 6px;
  }

  section.four .content .images .more p {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  section.four .content .images .more button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s ease;
  }
}

@media only screen and (max-width: 850px) {
  /* Section 2 */

  section.two .background {
    height: 15rem;
  }

  section.two .background .content {
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }

  section.two .background .content .right-text {
    margin-top: 5rem;
    margin-right: 2rem;
    width: 50%;
  }

  section.two .background .content h3 {
    font-size: 1.4rem;
  }

  section.two .background .content h2 {
    font-size: 4.4rem;
  }

  section.two .background .content img {
    border: 7px solid white;
    border-left: none;
  }

  section.two img {
    width: 45%;
    position: absolute;
    top: 2rem;
  }

  /* Section 3 */

  section.three .content {
    margin: 1rem 0 3rem 0;
    margin-left: 40%;
  }

  section.three .content img {
    border: 8px solid white;
  }

  section.three .content div {
    width: 90%;
    letter-spacing: 2px;
  }

  section.three .content div h3,
  section.three .content div p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }

  section.three .content div h3 {
    font-size: 36px;
    line-height: 1rem;
  }

  section.three .content div p {
    font-size: 1.1rem;
  }

  section.three .content div button {
    letter-spacing: 2px;
    font-size: 0.9rem;
  }

  /* Section 4 */

  section.four {
    background-color: #1c2b3b;
    padding: 1rem 0 5rem 0;
  }

  section.four .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  section.four .content div {
    width: 50%;
  }

  section.four .content .text {
    text-align: center;
    margin-top: 20%;
    font-size: 2.5rem;
  }

  section.four .content .text i {
    font-size: 5rem;
    color: white;
  }

  section.four .content img {
    width: 90%;
    margin: 3rem 0;
    border: 10px solid white;
  }

  section.four .content .images {
    position: relative;
  }

  section.four .content .images .more {
    width: 180px;
    left: 32%;
    padding: 3px;
  }

  section.four .content .images .dinagyang {
    top: 30%;
  }

  section.four .content .images .paraw {
    top: 82%;
  }

  section.four .content .images .more button,
  section.four .content .images .more p {
    margin: 0.5rem 0;
    font-size: 0.6rem;
    letter-spacing: 6px;
  }

  section.four .content .images .more p {
    font-weight: bolder;
    font-size: 1.1rem;
  }

  section.four .content .images .more button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s ease;
  }

  /* Section last */

  section.last {
    padding: 2rem 0 0.5rem 0;
    background-color: #1c2b3b;
  }

  section.last .content .underline {
    height: 3px;
    background-color: white;
    width: 55%;
    margin: 0 auto 1rem auto;
  }

  section.last .content .top-text {
    text-align: center;
  }

  section.last .content .top-text h2 {
    font-size: 3rem;
    color: white;
  }

  section.last .content .images-row {
    text-align: center;
    margin-top: 2rem;
  }

  section.last .content .images-row img {
    width: 200px;
    height: 150px;
    margin: 1rem;
  }

  section.last .content .bottom-text {
    display: flex;
    margin: 3rem auto 1rem auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  section.last .content .bottom-text img {
    width: 100%;
  }

  section.last .content .bottom-text div {
    width: 20%;
  }

  section.last .content .bottom-text .right-text,
  section.last .content .bottom-text .left-text {
    margin: 0rem 5rem;
    color: white;
  }

  section.last .content .bottom-text .right-text a {
    color: white;
    text-decoration: none;
  }

  section.last .content .bottom-text .right-text a:hover {
    color: rgb(192, 192, 192);
  }

  section.last .content .bottom-text .left-text i {
    font-size: 2rem;
  }

  section.last .content .bottom-text p {
    margin: 0.5rem 0;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 740px) {
  /* Section 2 */

  section.two .background {
    height: 13rem;
  }

  section.two .background .content {
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }

  section.two .background .content .right-text {
    margin-top: 3rem;
    margin-right: 1rem;
    width: 50%;
  }

  section.two .background .content h3 {
    font-size: 1.4rem;
  }

  section.two .background .content h2 {
    font-size: 4rem;
  }

  section.two .background .content img {
    border: 7px solid white;
    border-left: none;
  }

  section.two img {
    width: 45%;
    position: absolute;
    top: 1rem;
  }

  /* Section 3 */

  section.three .content {
    margin: 1rem 0 3rem 0;
    margin-left: 40%;
  }

  section.three .content img {
    border: 8px solid white;
  }

  section.three .content div {
    width: 90%;
    letter-spacing: 2px;
  }

  section.three .content div h3,
  section.three .content div p {
    margin: 1rem 0;
    line-height: 1.5rem;
  }

  section.three .content div h3 {
    font-size: 36px;
    line-height: 1rem;
  }

  section.three .content div p {
    font-size: 1.1rem;
  }

  section.three .content div button {
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  section.two .background {
    height: 16rem;
  }

  section.two img {
    width: 45%;
    position: absolute;
    top: 2rem;
  }

  section.three .content {
    margin: 1rem 0 3rem 0;
    margin-left: 10%;
  }

  section.four .content .images {
    position: relative;
    margin-left: 0rem;
  }

  section.four .content .images .more {
    width: 180px;
    left: 160px;
    padding: 3px;
  }

  section.four .content img {
    width: 100%;
    margin: 3rem 0;
    border: 10px solid white;
  }

  section.four {
    background-color: rgb(28, 43, 59);
    padding: 1rem 0px 2rem;
  }

  section.four .content div {
    width: 60%;
  }

  section.four .content .images .more p {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  section.four .content {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.four .content .text {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
  }

  section.last .content .bottom-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 3rem auto 2rem auto;
  }

  section.last .content .bottom-text img {
    width: 100%;
    margin: 1.5rem 0;
  }

  section.last .content .bottom-text div {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  section.two img {
    width: 45%;
    position: absolute;
    top: 4rem;
  }
  section.two .background {
    height: 16rem;
  }

  section.two .background .content h2 {
    font-size: 3.7rem;
  }

  section.two .background .content h3 {
    font-size: 1.2rem;
  }

  section.two .background .content .right-text {
    margin-right: 0rem;
  }

  section.two .background .content img {
    border: 7px solid white;
    border-left: none;
  }

  section.four {
    padding-bottom: 4rem;
  }

  section.four .content .text {
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
  }
  section.four .content .images .more {
    width: 180px;
    left: 110px;
    padding: 3px;
  }
}
